requests
beautifulsoup4
trafilatura
langchain-text-splitters
sentence-transformers
jsonlines
chromadb
fastapi
flask
numpy
datasets
peft
trl
transformers
accelerate
huggingface_hub
python-dotenv
sentencepiece